*.pro.user
*.sdf
*.sln
*.suo
*.swp
bin/*
subutai_tray_bin/
libssh_app_bin/
.DS_Store
build

# Debian
*.docs
*.substvars
*.deb
*.log
debian/debhelper-build-stamp
debian/files
debian/subutai-tray
deb-packages/deb-packages-internal/debian/changelog

# doxygen
docs/
html/

# darwin
darwin-packages/flat/*
darwin-packages/root/*

Makefile
.*.stash

*.qm
