*.pro.user
*.sdf
*.sln
*.suo
*.swp
bin/*
subutai_tray_bin/
subutai_control_center_bin/
libssh_app_bin/
.DS_Store
build

# Debian
*.docs
*.substvars
*.deb
*.log
debian/debhelper-build-stamp
debian/files
debian/subutai-tray
debian/subutai-control-center
deb-packages/deb-packages-internal/debian/changelog

# doxygen
docs/
html/

# darwin
darwin-packages/flat/*
darwin-packages/root/*
darwin-packages/SubutaiTray.app
darwin-packages/SubutraiControlCenter.app
darwin-packages/*.pkg

Makefile
.*.stash

*.qm

