language: cpp
branches:
  only:
  - master-dev
  - dev-dev
  - /^\d+\.\d+(\.\d+)?(-\S*)?$/
env:
  global:
    secure: 4nZiTYw/3IlsbtnZatqTG54vXT4cbuC3AgeI5jIHGEFSSz4CMoYWqy2E+lceA4w+LfbMrmMrV/VbENrc5SovcQlv5sY4QwOsOL7ei2r7WzasZs0/XJ6ouBiE3bldSYbFgktGGTcqADMvVk+Zpl6q0qhUm6H96tiIlzSkpmpZZldk3D4K4N05EXyZN82kA8OF+fqe8k4dN0qw4AhziDa/43Muo69iIvvR9ij6DMmH0uKmME+NcEY4kNgli00w7qlNLL7Jve/PmyT4OYjrGb6T73wUvLADierki8jMsMB/INno30wjswghPrKj6mQ/nykfEpBCjJjsAV6hmBSaGDFGlfpdzOuHZXp498r2PzNjA0Xmbg/sWUvEq++cz8/m8JYIyzGDjL4UK6rKoFkWh58qZiL1yr+bJyKC1uukUN1mooScelKCirDyLMQ3cHKRd38U6r4aubNUiB87h9UURXcHH+S5gPiaUlOduMJ8utYv5tu/sdhaEzqNWA4znQulWbCA93u16xPwNaSwUjPSm+pSRwLViWhFQup+63YgIr6m0jbT3refjtl5CDk0DoWwgHfg78jR0RgqsSW44f7yEQk8jNu74DDAUwZcBrh5Uc0VyBRtnciJ0wvhflBnIsaGXe9DmXRyur0wN+YQuiNxt7Pb2ORF36i5EJM879xqXPX3BxA=
matrix:
  include:
  - os: linux
    dist: trusty 
    sudo: required
    before_install:
    - openssl aes-256-cbc -k "$decrypt_keys" -in /home/travis/build/subutai-io/control-center/travis.tar.gz.enc -out /home/travis/build/subutai-io/control-center/travis.tar.gz -d
    - tar -xf travis.tar.gz -C /home/travis/build/subutai-io/control-center/
    - gpg --allow-secret-key-import --import /home/travis/build/subutai-io/control-center/jenkins-subutai
      && rm -f /home/travis/build/subutai-io/control-center/jenkins-subutai
    - gpg --allow-secret-key-import --import /home/travis/build/subutai-io/control-center/jenkins-optdyn
      && rm -f /home/travis/build/subutai-io/control-center/jenkins-optdyn
    - LD_LIBRARY_PATH=/usr/local/lib64/:$LD_LIBRARY_PATH
    - export LD_LIBRARY_PATH
    - sudo apt-add-repository --yes ppa:ubuntu-toolchain-r/test
    - sudo apt-get update
    - sudo apt-get install gcc-4.9 g++-4.9 libicu52 devscripts libssh2-1-dev libxi-dev
      libxcb-xkb-dev libxrender-dev libxcb-image0-dev libxcb-render-util0-dev libxcb-icccm4-dev
      libxcb-keysyms1-dev libxcb-xinerama0-dev libdconf-dbus-1-dev dh-autoreconf
    script:
    - sudo mkdir -p /home/builder/ && sudo chmod 777 /home/builder/
    - wget --no-check-certificate -nv -O /home/builder/qt_static.tar.gz 'https://masterbazaar.subutai.io/rest/v1/cdn/raw?name=qt_static.tar.gz&latest&download' && tar -xf /home/builder/qt_static.tar.gz -C /home/builder/
    - wget --no-check-certificate -nv -O /home/travis/build/subutai-io/control-center/libs.tar.gz 'https://masterbazaar.subutai.io/rest/v1/cdn/raw?name=libs.tar.gz&latest&download' && tar -xf libs.tar.gz
    - sudo /home/travis/build/subutai-io/control-center/./build_linux.sh $TRAVIS_BRANCH
    - ls subutai_control_center_bin
    deploy:
    - provider: script
      script: sudo bash upload.sh $TRAVIS_BRANCH
      skip_cleanup: true
      on:
        branch: dev
    - provider: script
      script: sudo bash upload.sh $TRAVIS_BRANCH
      skip_cleanup: true
      on:
        branch: master
    - provider: script
      script: sudo bash upload.sh HEAD
      skip_cleanup: true
      on:
        tags: true
  - os: osx
    osx_image: xcode9
    before_install:
    - openssl aes-256-cbc -k "$decrypt_keys" -in /Users/travis/build/subutai-io/control-center/travis.tar.gz.enc -out /Users/travis/build/subutai-io/control-center/travis.tar.gz -d
    - tar -xf travis.tar.gz -C /Users/travis/build/subutai-io/control-center/
    - gpg --allow-secret-key-import --import /Users/travis/build/subutai-io/control-center/jenkins-subutai
      && rm -f /Users/travis/build/subutai-io/control-center/jenkins-subutai
    - gpg --allow-secret-key-import --import /Users/travis/build/subutai-io/control-center/jenkins-optdyn
      && rm -f /Users/travis/build/subutai-io/control-center/jenkins-optdyn
    script:
    - sudo mkdir /Users/dev/ && sudo chmod 777 /Users/dev/
    - wget --no-check-certificate -nv -O /Users/dev/Qt5.9.2.tar.gz 'https://bazaar.subutai.io/rest/v1/cdn/raw?name=Qt5.9.2.tar.gz&latest&download' && tar -xf /Users/dev/Qt5.9.2.tar.gz -C /Users/dev
    - wget --no-check-certificate -nv -O /Users/travis/build/subutai-io/control-center/libs.tar.gz 'https://masterbazaar.subutai.io/rest/v1/cdn/raw?name=libs.tar.gz&latest&download' && tar -xf libs.tar.gz
    - sudo /Users/travis/build/subutai-io/control-center/./build_mac.sh $TRAVIS_BRANCH
    - "/Users/travis/build/subutai-io/control-center/upload_app.sh $TRAVIS_BRANCH"
    - ls subutai_control_center_bin
    deploy:
    - provider: script
      script: sudo bash upload.sh $TRAVIS_BRANCH
      skip_cleanup: true
      on:
        branch: dev
    - provider: script
      script: sudo bash upload.sh $TRAVIS_BRANCH
      skip_cleanup: true
      on:
        branch: master
    - provider: script
      script: sudo bash upload.sh HEAD
      skip_cleanup: true
      on:
        tags: true
notifications:
  slack:
    secure: EiyEIfV7Ki+KyjiVS3UJqjtEjDWyERm9c7eW2DY5FzbZ2A4ZRZ1s3ZdTvQlEsVOgk4FCgezNgPfkPYEZubmgcDOP/HEpJf0cCnVc1UMfis9xI3BD0Xtek5uzriZGL+GuvHb0eXywD8MVQ3iwwVgCLQkEq11jWAJ/nZL4tzFxHLtJ4Xf6JTw5QPA2HlN7PfNVa87l6tPymLYJUPyZgVUTjj825R7KOh2oZrewPksuxJl9eV8V9rdpRGPg+t7jZno4KirkDp6HgAbrukiNdx5qp6EMDW6cgXy3cDcVXUmogzHT3MxSFFKmAlW8A5c2jtTnEB6FcNJ1IMeP54+CvvIS1ogR3TeSe30xlNluJAmvUQqGpmaDIWZTgChpJVo55NyU24g3Ia/cUG1P0MfbgIC5TfNtmKWcVKABDX9W4bNK8E1Lod7JiW6U0zFIhy1PUeRF4ifooL/LgnJdSZyyAhNPbTpV1DRbVjNiquRHF08bWJ9M1Xy5Qlt9EKOpYdOB8ukNW9Z/2DD19wZztGcynv0TfsO3e2IfvfcWzym/LeGushGw+qLvvo0VYfq1OqSAS9iYNVbAvPGA0f9MeiZbSbWsvLLyT4yLs1/nskW+iZ6KwQYBweqK+IQ//7Po4VNmzCRYdpfyN3s4aqwTyd7Kw+nps4wOEgHPjveL6yVtToSyjZI=
