<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>CFBundleIconFile</key>
	<string>cc_icon_mac.icns</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleGetInfoString</key>
	<string>Created by subutai-io team</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleExecutable</key>
	<string>SubutaiControlCenter</string>
	<key>CFBundleIdentifier</key>
	<string>com.subutai-io.SubutaiControlCenter</string>
	<key>CFBundleVersion</key>
	<string>7.0.0</string>
	<key>LSUIElement</key>
	<string>1</string>
</dict>
</plist>
