[Desktop Entry]
Name=Subutai Tray
Type=Application
Version=1.0
Comment=Tray for Subutai
Icon=subutai-tray
Exec=/usr/bin/subutai-tray
Path=/opt/subutai/tray
Categories=Network;
X-Desktop-File-Install-Version=0.22
