Source: subutai-tray
Section: net
Priority: optional
Maintainer: Adilet Zholdoshbekov (azholdoshbekov@optimal-dynamics.com)
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: https://subutai.io/

Package: subutai-tray
Architecture: all
Depends: gksu,
         libssh2-1,
         libssl1.0.2 | libssl1.0.1 | libssl1.0.0,
         libxcb-icccm4,
         libxcb-image0,
         libxcb-keysyms1,
         libxcb-randr0,
         libxcb-render-util0,
         libxcb-xinerama0,
         libxcb-xkb1
Description: Subutai Tray Application
