Source: subutai-tray
Section: net
Priority: optional
Maintainer: Oleg Katkov (okatkov@optimal-dynamics.com)
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: https://subut.ai

Package: subutai-tray
Architecture: any
Depends: libssh2-1, libssh2-1-dev, ${shlibs:Depends}, ${misc:Depends}
Description: Subutai Tray Application 
