Source: subutai-tray
Section: unknown
Priority: optional
Maintainer: Mikhail Savochkin <i@crioto.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: https://subut.ai
#Vcs-Git: git://anonscm.debian.org/collab-maint/subutai-tray.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/subutai-tray.git

Package: subutai-tray
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, virtualbox, subutai-p2p, libssh2-1, libssh2-1-dev 
Description: Subutai Tray Application
