Package: subutai-tray
Version: 5.0.2-SNAPSHOT
Architecture: amd64
Maintainer: Oleg Katkov (okatkov@optimal-dynamics.com)
Installed-Size: 19534
Depends: libssh2-1 (>= 1.2.8), libssh2-1-dev, libc6 (>= 2.15), libfontconfig1 (>= 2.11.94), libfreetype6 (>= 2.3.5), libgcc1 (>= 1:3.4), libgl1-mesa-glx | libgl1, libice6 (>= 1:1.0.0), libsm6, libssl1.0.0 (>= 1.0.2~beta3), libstdc++6 (>= 5.2), libx11-6, libx11-xcb1, libxcb-glx0, libxcb1 (>= 1.8), libxi6 (>= 2:1.5.99.2)
Section: net
Priority: optional
Homepage: https://subut.ai
Description: Subutai Tray Application
